body{
    background-color: lightgreen;
}

h2 {
    font-size: 36px;
}

p{
    color: crimson;
    font-size: 36pt;
}

section{
    float: left;
    width: 33.33%;
}

img {
    width: 400px;
}

#caption{
    font-size: 10pt;
}